@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,700,700italic);

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-sky-900;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


#logo {
  @apply text-white text-3xl md:text-3xl lg:text-4xl font-bold tracking-tighter;
  font-family: 'PT Serif';
  text-shadow: 0.075em 0.08em 0..75em rgba(0, 0, 0, .5);
}